<!--
  Authors:   Ray Parker and Daniel He
  Date:      September 27th, 2022
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Daniel He and Ray Parker - This work may not be copied for use in Academic Coursework.
  We, Daniel He and Ray Parker, certify that we wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents:
    This is the main page of the TA Application website. This page is intended to be a user-friendly introduction for any students interested
    in a School of Computing TA position so they can easily find information and the TA application.
-->

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <p> <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">School of Computing TA Applications</h1>
                    <h3 class="col-md-8 fs-4"> Teaching Assistants (TAs) are integral to helping the courses within the School of Computing. Before applying, please review the <a href="Index.html">University requirements</a> for enrolling as a Teaching Assistant. </h3>
                    <a href="ApplicationCreate.html">
                        <button class="btn btn-primary btn-lg" type="button">Apply Here</button>
                    </a>
                </div>
            </div>

            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-5 text-bg-dark rounded-3">
                        <h2>TA University Requirements</h2>
                        <p>Before applying, please review the University requirements and Teaching Assistant prerequisites:</p>
                        <button class="btn btn-outline-light" type="button">TA Requirements</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <h2>Teaching Assistant FAQ</h2>
                        <p> </p>
                        <p>If you're interested in being a TA, we may answer some of our questions in our FAQ post:</p>
                        <button class="btn btn-outline-secondary" type="button">Teaching Assistant FAQ</button>
                    </div>
                </div>
            </div></p>
    <img src="Picture/StudentsAtAComputer.jpg" alt="Students at a computer" height="350">
</div>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ray Parker and Daniel He - Fall 2022 at the University of Utah">
  
    <meta name="generator" content="Hugo 0.101.0">
    <title>TA Application Home</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/jumbotron/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="Site.css" />
</head>
